body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
}

input{
  display: block;
  border-radius: 4px;
  height: 30px;
  line-height: 30px;
  margin: 5px;
  width: 280px;
}

.error {
  color: #ff0000;
}
